
body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
}

#wrap {
    max-width:1200px;
    margin:0 auto;
    background:#fff;
}

header {
    background:#fff;
}

nav {
    float: left;
    width: 150px;
    padding: 10px;
    background:#fff;
}
#main {
    display: block;
    margin-left: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background:#ddd;
}
#sidebar {
    background:#c9c;
}
#footer {
    background:#cc9;
}

table {
    border-collapse: collapse;
}
.line_bot td,
.line_bot th {
    border-bottom: 1px solid black;
}

td.center {
    text-align: center;
    vertical-align: middle;
}
