
body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
}
body {
    margin: 0 1em;
}

#wrap {
    max-width:1200px;
    margin:0 auto;
    background:#fff;
}

header {
    position: relative;
    background:#fff;
}

nav {
    float: left;
    width: 150px;
    padding: 10px;
    background:#fff;
}
#main {
    display: block;
    min-height: 300px;
    margin-left: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background:#ddd;
}
footer {
    position: relative;
    margin-top: 3em;
    background:#fff;
    border-top: 1px dotted black;
    text-align: right;
    vertical-align: middle;
}
footer>p {
    margin-top: 0px;
    padding: 0.5em;
}

table {
    border-collapse: collapse;
}
.line_bot td,
.line_bot th {
    border-bottom: 1px solid black;
}

td {
    padding: 0 0.25em 0 0.25em;
}

td.center {
    text-align: center;
    vertical-align: middle;
}

td.right {
    text-align: right;
    vertical-align: middle;
}

.bigsavebtn {
    width: auto;
    margin: 0.5em;
    padding: 1em;
    background-color:#f66;
    border: 1px none #f00;
    border-radius: 5px;
}
table.edit th {
    text-align: left;
}
table.edit label {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
}
table.edit input[type=text] ,
table.edit input[type=email],
table.edit input[type=number],
table.edit textarea {
    font-family: monospace;
    font-size: 14px;
    width: 35em;
    height: 2em;
}
table.edit textarea {
    height: 10em;
}
table.edit input.left {
    float: right;
    clear:both;
}


/*
.loggedinbox:before {
	content: attr(name);
	background-color: #FFF;
	position: relative;
	top: -0.8em;
	left: 0.5em;
	padding: 0px 0.5em 0px 0.5em;
}
*/

.loggedinbox {
    position: absolute;
    top: 0px;
    right: 0px;

	border: 1px solid black;
    border-radius: 5px;
	margin: 0.5em;
	padding: 0.5em;
}
.loggedinbox p {
    margin: 0px;
}

.log {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
}
.log dl {
    margin: 0px;
    font-size: 0.75em;
    font-family: monospace;
}
.log dt {
    float: left;
    clear: left;
    width: 6em;
    text-align: right;
}
.log dd {
    margin-left: 6em;
    padding-left: 1em;
}






/*

.error { border: 2px solid red; }

row { display: block; }

.controlbox:before {
	content: attr(name);
	background-color: #FFF;
	position: relative;
	top: -0.8em;
	left: 0.5em;
	padding: 0px 0.5em 0px 0.5em; }

.controlbox {
	border: 1px solid black;
	margin: 1em;
	margin-top: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-right: auto; }

div, table, tr, td { margin: 0px; padding: 0px; }
td { vertical-align: top; }

input[type=button], input[type=submit] { position: relative; float: right; top: -1.7em; }

.notice { font-style: italic; font-variant: small-caps; }

a { text-decoration: none; }
*/
